* {
  margin: 0;
  padding: 0;
  box-size: border-box;
}
.UX--centered {
  background-color: rgba(129, 200, 100, 0.6);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 200px;
  height: 450px;
  border: 5px solid;
  border-radius: 1rem;

  display: flex;

  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: grab;
}

